
@import './variables.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/page.scss';
@import './components/posts.scss';


body {
  background-color: $background-colour;
}

a{
    color: $font-color;
    text-decoration: none;
    &:visited{
        color: $font-color;
    }
    &:hover, &:active{
        color: $link-color;
    }
 
}

.site-content{
    padding: 20px;
    
    .content-area{
 
    }

}


