$background-colour: #fff;
$font-color:  #000;
$link-color: #696969;
$borders: black 3px solid;


$header-height: 200px;
$header-color: #FFB6C1;
$header-title: 4em;
$header-menu: 1.5em;

$footer-height: 100px;
$footer-color: #FFB6C1;
